@model IEnumerable<CarDealershipApp.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div>
        <p>
            Search By Name: <input type="text" name="_searchString" value="" />
            <input type="submit" value="search"/>
            <a asp-action="Index">Remove</a>
        </p>
    </div>
</form>
<form asp-action="Index" method="get">
    <div>
        <p>
            Search By Street: <input type="text" name="_searchByStreet" value="" />
            <input type="submit" value="search" />
            <a asp-action="Index">Remove</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address.Street)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.Street)
            </td>
        </tr>
}
    </tbody>
</table>
